*{
    background: rgb(202, 175, 202);

/* font-family: 'Montserrat', sans-serif;
font-family: 'Hepta Slab', serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Lora', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Crimson Text', serif; */
}
