*{
    /* background: rgb(202, 175, 202); */
    font-family: 'Lora', serif;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom, rgba(0,0,204,0.3), rgba(191,128,255,0.3));
    background-size:cover;
    /* color: rgb(202, 175, 202); */
}
